<li class="list-group-item text-dark bg-light mb-1 border-0 overflow-hidden rounded">
    <div class="row">

        <div [class.completed]="todo.completed" class="col">
            <div class="card-title">{{todo.title}}</div>
            <div class="description">{{todo.description}} </div>
        </div>

        <div class="btn-group h-100 col">
            <button (click)="toggleCompleted()" class=" btn-success ml-1">
                <fa-icon [icon]="faCheck"></fa-icon>
            </button>
            <button (click)="delete()" class="btn-danger ml-1">X</button>
        </div>

    </div>
</li>