* {
  font-family: Arial, Helvetica, sans-serif;
}
.description {
  font-size: x-small;
  font-style: italic;
}

.card-title {
  font-weight: bold;
  margin: 0;
}

.completed {
  text-decoration: line-through;
}
